.helpBtn {
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 25px;
    margin-top: 25px;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100px;
    height: 50px;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.helpBtn:hover {
    background-color: #006666; /* Darker blue on hover */
}